body{
    font-family: 'Prompt', sans-serif;
}
.i-am-centered {
    margin: auto; max-width: 450px;
}

.cardStyleMargin{
    margin-top: 30px;
    margin-bottom: 200px;
}

.intable{
    padding: 30px 30px;
}

.cardColor{
    transition: 0.5s;
    border-color: #ecebe8;
    margin-bottom: 20px;
}

.cardColor:hover{
    transition: 0.5s;
    border-color: #c8c7c4;
}
/*.cardColor{*/
/*    transition: 0.5s;*/
/*    border-color: #ecebe8;*/
/*    */
/*}*/

.inputField{
    margin-top: 5px;
    margin-bottom: 5px;
}

.searchInfo{
    padding: 12px 8px;
    margin: 10px 0px;
    background-color: #fff;
    color: #eb232e;
    border: 1px solid #eb232e;
    border-radius: 3px;
    font-size: 14px;
    transition: all 450ms;
}

.searchInfo:hover{
    background-color: #eb232e;
    color: white;
    cursor: default;
}

.imageGrow{
    transition: all .4s;
    cursor: pointer;
}
.imageGrow:hover{
    -ms-transform: scale(1.08) translateZ(0);
    -webkit-transform: scale(1.08) translateZ(0);
}

.centerOfRow{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.myNowrap{
    white-space: nowrap!important;
}

.image-popup-vertical-fit:hover{
    cursor: pointer;
}

.section-wrapper{
    border: 1px solid #ced4da;
    background-color: #fff;
    padding: 25px;
}

.section-title {
    font-size: 14px;
    font-weight: 700;
    color: #343a40;
    text-transform: uppercase;
    margin-top: 20px;
    display: block;
    letter-spacing: 1px;
}

.slim-pagetitle {
    margin-top: 15px;
    margin-bottom: 10px;
    color: #343a40;
    padding-left: 10px;
    border-left: 4px solid #e13031;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: .5px;
}

.myResponsiveTable{
    overflow-x: auto;
    display: block;
    width: 100%
}

.containerStyle{
    padding: 0px;
    margin-bottom: 200px;
}